body {
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
    background-color: none;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    height: auto;
    width: auto;
}

tr {
    width: 70px;
    height: 70px;
}

td {
    height: 70px;
    width: 70px;
}

input[type=number] {
    width: 6em;
}

p {
    height: 50px;
    width: 50px;
    border: 1px solid black;

}

tbody {
    border: solid black;
    background-color: none;
}